.table{
    margin-bottom: 80px;
    z-index: 5;
}
.sort{
    cursor: pointer;
}
.col{
    word-wrap: break-word;
    
}
td{
    vertical-align: middle;
    text-overflow: ellipsis;
    background-color: aliceblue;
}
